body{
    background:#111;
    color:white;
    text-align:center;
    font-family:sans-serif;
}

canvas{
    background:black;
    border:3px solid white;
    margin-top:20px;
}

input,button{
    padding:10px;
    font-size:18px;
    margin:5px;
}

button{
    cursor:pointer;
}